
#main {
  flex: 1;
  background-color: var(--gray-50);
  margin-right: 26.5rem;
  transition: margin-right .5s;
}

.openPlayer {
  margin-right: 26.5rem;
  transition: margin-right .5s;
  background-color: var(--gray-50);
  z-index: 2;
}
.closePlayer {
  margin-right: 0;
  background-color: var(--gray-50);
  transition: margin-right .5s;
  z-index: 2;
}
