.container {
  background: var(--gray-50);
  height: calc(100vh - 6.5rem);
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 3rem;
  margin-bottom: 1rem;
  .adminHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    button{
      display: inline-block;
      font-weight: 400;
      background-color: #e43a0f;
      text-align: center;
      color: #FFF;
      height: max-content;
      vertical-align: middle;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: 1px solid transparent;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: .25rem;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
  }
  .header{
    margin: 2rem 1rem;
  }
  .selector{
    margin: 2rem 1rem;
  }
  .content {
    width: auto;
    margin:auto;
    .card {
      max-width: 30rem;
      padding: 2rem 3rem;
      background: var(--white);
      .cardHeader{
        background: var(--white);
      }
    }
  }

}